<!-- <table class="table">
    {% if documents %}

    {% for document in documents %}
    <tr>
        <td><a href="{{ document.document.url }}">{{ document.document.name }}</a> </td>
        <td></td>
        <td></td>
        <td><a href="delete/{{ document.document.name }}"> Delete</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <p>No documents</p>
    {% endif %}
</table> -->

{% if documents %}
<table class="table table-hover ">
    <thead>
        <td>Document path</td>
        <td>Description</td>
        <td>Uploaded at</td>
        <td>Action</td>
    </thead>
    <tbody class="table-group-divider">
        {% for document in documents %}
        <tr>
            <td><a href="{{ document.document.url }}">{{ document.document.name }}</a> </td>
            <td>{{ document.description }}</td>
            <td>{{ document.uploaded_at }}</td>
            <td><a href="delete/{{ document.document.name }}"> Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No documents</p>
{% endif %}